<nav class='navbar navbar-inverse' role='navigation"'>
<a class="navbar-brand" href="#">Short.ly</a>
<ul class='nav navbar-nav'>
  <li><a ng-href=''>All Links</a></li>
  <li><button id="addLinks" type="button" class="btn btn-success btn-lg" data-animation="am-slide-left" data-placement="left" data-template="app/shorten/shorten.html" bs-aside="aside">Add Links</button></li>

</ul>
<div id="search">
  <input type="text" class="form-control" placeholder="Search" ng-model='searchText.title'>
</div>

</nav>
<div id='container'>
  <div class="links">
    <div class='link' ng-repeat='link in data.links | filter:searchText | orderBy: "-visits"'>
      <div class='info'>
        <img height='16' width='16' ng-src='http://getfavicon.appspot.com/{{ link.url }}'/>
        <div class='visits'>
          <span class='count'>{{ link.visits }}</span>visits
        </div>
        <div class='title'>{{ link.title }}
        </div>
        <div class='original'>{{ link.url }}
        </div>
        <a ng-href='{{link.base_url}}/{{link.code}}'>{{link.base_url}}/{{link.code}}</a>
      </div>
    </div>
  </div>
  <audio id='successSound'>
    <source src='../assets/shiny-ding.mp3' type='audio/mpeg'
  </audio>
</div>
